services:
  frps:
    image: ghcr.io/fatedier/frps:v0.62.1
    container_name: frps
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./frps.toml:/frps.toml:ro
    environment:
      - FRP_AUTH_TOKEN=${FRP_AUTH_TOKEN}
    command: -c /frps.toml
    labels:
      - sh.acme.autoload.domain=${FRP_DOMAIN}
    depends_on:
      - acme-sh-issue
      - acme-sh

  acme-sh-issue:
    image: neilpang/acme.sh
    container_name: acme.sh-issue
    command: --issue --dns dns_cf -d ${FRP_DOMAIN} --accountemail ${CERTIFICATE_EMAIL} --server letsencrypt
    volumes:
      - certs:/acme.sh
    environment:
      - CF_Token=${CF_TOKEN}
      - CF_Zone_ID=${CF_ZONE_ID}

  acme-sh:
    image: neilpang/acme.sh
    container_name: acme.sh    
    command: daemon
    volumes:
      - certs:/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock 
    environment:
      - DEPLOY_DOCKER_CONTAINER_LABEL=sh.acme.autoload.domain=${FRP_DOMAIN}
      - DEPLOY_DOCKER_CONTAINER_KEY_FILE=/data/certs/key.key
      - DEPLOY_DOCKER_CONTAINER_CERT_FILE="/data/certs/cert.crt"
      - DEPLOY_DOCKER_CONTAINER_CA_FILE="/data/certs/ca.crt"
      - DEPLOY_DOCKER_CONTAINER_FULLCHAIN_FILE="/data/certs/full.pem"
    depends_on:
      - acme-sh-issue
      
volumes:
  certs: