{
	order forward_proxy before reverse_proxy
}
(common) {
        header * {
                -Server
        }
}
:443, {$DOMAINS}, {$FRP_DOMAIN} {
	tls {$CERTIFICATE_EMAIL}

	forward_proxy {
		basic_auth {$PROXY_USER} {$PROXY_PASSWORD}
		hide_ip
		hide_via
		probe_resistance

		acl {
			deny 10.0.0.0/8 127.0.0.0/8 172.16.0.0/12 192.168.0.0/16 ::1/128 fe80::/10
			deny {$PROXY_REJECT_DOMAINS}
			allow all
		}
	}

	reverse_proxy mozilla_mdn:5000 {
		trusted_proxies private_ranges
	}
}