{
	email {$CERTIFICATE_EMAIL}
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	order forward_proxy before reverse_proxy
}

(common) {
	header * {
		-Server
	}
}

:443, {$WEB_DOMAINS} {
	import common

	# naive: CONNECT requests that carry UDP (QUIC/HTTP-3) tunnels.
	@naive {
		method CONNECT
		header Tunnel-Mode udp
	}
	handle @naive {
		reverse_proxy h2c://naive:1080 {
			header_up Proxy-Authorization {header.Proxy-Authorization}
		}
	}

	# xray VLESS / WebSocket
	@xray_ws {
		path {$XRAY_PATH} {$XRAY_PATH}/*
		header Connection *pgrade*
		header Upgrade    *ebsocket*
	}
	handle @xray_ws {
		reverse_proxy xray:2080 {
			header_up Host {host}
		}
	}

	# xray VLESS / XHTTP
	@xray_xhttp {
		path {$XRAY_PATH} {$XRAY_PATH}/*
	}
	handle @xray_xhttp {
		reverse_proxy xray:2081 {
			header_up Host {host}
			flush_interval -1
		}
	}

	# Everything else
	handle {
		forward_proxy {
			basic_auth {$PROXY_USER} {$PROXY_PASSWORD}
			hide_ip
			hide_via
			probe_resistance

			acl {
				deny 10.0.0.0/8 127.0.0.0/8 172.16.0.0/12 192.168.0.0/16 ::1/128 fe80::/10
				deny {$PROXY_REJECT_DOMAINS}
				allow all
			}
		}
		
		# camouflage site (static)
		reverse_proxy decoy:8080
	}
}
